body {
  font-family: "Poppins", sans-serif;
  color: #484848;
}

.contact-container {
  text-align: center;
}
.contact-paragraph {
  margin: 0 auto;
}

p {
  font-family: "Open-Sans", sans-serif;
  font-weight: 400;
  overflow: hidden;
  max-width: 600px !important;
  font-size: 1.1rem;
}

input {
  color: #000000 !important;
}

//Headers

.h1,
h1 {
  font-weight: 900 !important;
  font-size: 2.2rem !important;
}

.contact-container h1 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 4rem !important;
  padding-bottom: 1rem;

  span {
    color: violet;
    font-size: 70px;
  }
}

.housing-container .card-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.housing-container .card-text {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.housing-container .form-label {
  font-weight: bold;
}
.housing-container .card-subtitle {
  margin-top: 2rem;
}
.housing-container .card-subtitle span {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(49, 49, 49);
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .housing-container .card-title {
    margin-top: 0.5rem;
    margin-bottom: 0px;
  }
}

.housing-details-container {
  p {
    max-width: 75ch;
  }
  .housing-type {
    color: rgb(255, 136, 0);
    font-weight: bold;
  }
}

.housing-enquiries p {
  max-width: 75ch;
}

//Paragraphs
.contact-container p {
  color: #ffffff;
  margin-bottom: 2rem;
}

//Links

a {
  color: #484848;
}

a:hover {
  color: #484848;
}
.nav-link {
  text-transform: uppercase;
  color: rgb(160, 160, 160) !important;
}
.nav-link.active {
  color: rgb(228, 228, 228) !important;
}

.nav-link:hover {
  color: rgb(228, 228, 228) !important;
}

.footer .list-group-item {
  text-transform: uppercase;
  color: white;
  font-size: 0.85rem;
}
.footer a {
  text-decoration: underline 3px rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
.footer a:hover {
  color: #ffffff;
  text-decoration-color: orange;
}

//Other

.form-error {
  color: red;
  font-size: 14px;
}

.footer-copyright p {
  color: rgb(163, 163, 163);
  font-size: 14px;
}

.about-us-column {
  p {
    margin-bottom: 2rem;
  }
  h3 {
    margin-top: 0rem;
  }
}

.housing-info {
  margin-top: 1.5rem;
  .col {
    padding-right: 0px;
  }
}
@media only screen and (max-width: 1000px) {
  .about-us-column {
    p {
      margin-bottom: 2rem;
    }
    h3 {
      margin-top: 1rem;
    }
  }
}

.datepicker-wrapper .form-label {
  font-weight: bold;
}

.modal-dialog {
  p {
    padding-left: 2rem;
  }
}

.typeahead-search-wrapper th {
  font-weight: normal;
}
