body {
  font-family: "Poppins", sans-serif;
  color: #484848;
}

.contact-container {
  text-align: center;
}

.contact-paragraph {
  margin: 0 auto;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
  max-width: 600px !important;
  font-size: 1rem;
}

input {
  color: #000000 !important;
}

.h1,
h1 {
  font-weight: 900 !important;
  font-size: 2.2rem !important;
}

.contact-container h1 {
  color: white;
  font-weight: 900;
  font-size: 4rem !important;
  padding-bottom: 1rem;
}

.contact-container h1 span {
  color: #d97386;
  font-size: 70px;
}

.housing-container .card-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.housing-container .card-text {
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.housing-container .form-label {
  font-weight: 500;
}

.housing-container .card-subtitle {
  margin-top: 0rem;
}

.housing-container .card-subtitle span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #313131;
  margin-top: 2rem;
}

.housing-details-container p {
  max-width: 75ch;
}

.housing-details-container .housing-type {
  font-family: "Poppins", sans-serif;
  color: #d97386;
  font-weight: 600;
}

.housing-enquiries p {
  max-width: 75ch;
}

.contact-container p {
  color: #ffffff;
  margin-bottom: 2rem;
}

a {
  color: #484848;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

a:hover {
  color: #484848;
}

.nav-link {
  color: #a0a0a0 !important;
  font-size: 0.9rem;
}

.nav-link.active {
  color: #e4e4e4 !important;
}

.nav-link:hover {
  color: #e4e4e4 !important;
}

.footer .list-group-item {
  text-transform: uppercase;
  color: white;
  font-size: 0.85rem;
}

.footer a {
  -webkit-text-decoration: underline 3px rgba(255, 255, 255, 0);
          text-decoration: underline 3px rgba(255, 255, 255, 0);
  -webkit-transition: -webkit-text-decoration-color 300ms;
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}

.footer a:hover {
  color: #ffffff;
  -webkit-text-decoration-color: #d97386;
          text-decoration-color: #d97386;
}

.form-error {
  color: red;
  font-size: 14px;
}

.footer-copyright p {
  color: #a3a3a3;
  font-size: 14px;
}

.about-us-column p {
  margin-bottom: 2rem;
}

.about-us-column h3 {
  margin-top: 0rem;
}

.housing-info {
  margin-top: 1.5rem;
}

.housing-info .col {
  padding-right: 0px;
}

@media only screen and (max-width: 1000px) {
  .about-us-column p {
    margin-bottom: 2rem;
  }
  .about-us-column h3 {
    margin-top: 1rem;
  }
}

.datepicker-wrapper .form-label {
  font-weight: 500;
}

.modal-dialog p {
  padding-left: 2rem;
}

.typeahead-search-wrapper th {
  font-weight: 400;
  text-transform: capitalize;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  background-color: #1f1f1f;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 2rem;
}

.footer-card {
  background-color: transparent;
  border: transparent;
}

.list-group-item {
  background-color: transparent;
  border: transparent;
}

.footer-copyright {
  background-color: #181818;
  padding: 5px 0px;
  margin-top: 30px;
}

.footer-copyright p {
  margin: 0 auto !important;
}

@media only screen and (max-width: 575px) {
  .footer-copyright {
    padding-bottom: 4rem;
  }
}

form {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.custom-select:focus {
  border-color: #c5c5c5;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
  background-color: #1f1f1f !important;
}

.navbar-brand {
  padding-right: 5% !important;
}

@media only screen and (max-width: 575px) {
  .fixed-bottom-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
  }
}

.btn-primary-color {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 0.55rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-primary-color:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00beaf;
  border-radius: 10rem;
  z-index: -2;
}

.btn-primary-color:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #007269;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.btn-primary-color:hover {
  color: #fff;
}

.btn-primary-color:hover:before {
  width: 100%;
}

.btn-secondary-color {
  color: white;
  background: #009488;
  border: transparent;
}

.btn-secondary-color:hover {
  color: white;
  background: #007c72;
}

.btn-secondary-color:active {
  color: white;
  background: #009e91;
}

.btn-secondary-color.focus,
.btn-secondary:focus {
  color: white;
  background: #009e91;
}

.accordion-card-border-none {
  border: none !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.housing-container .btn {
  margin-bottom: 1rem;
}

.housing-container a {
  text-decoration: none !important;
}

.housing-container .card-body .btn {
  margin-top: 2rem;
}

@media only screen and (max-width: 575px) {
  .btn.sm-block {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .housing-container .card-body .btn {
    margin-top: 2rem;
  }
}

.btn-btn-submit {
  color: white;
  background: #00beaf;
  border: transparent;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  padding: 7px 15px;
}

.btn-btn-submit:hover {
  color: white;
  background-color: #007269;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
}

.btn-btn-submit svg {
  margin-left: 10px;
}

.btn-btn-submit:hover svg {
  margin-left: 20px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.accordion-container .btn {
  margin-bottom: 0px;
}

.typeahead-search-wrapper .dropdown-toggle::after {
  content: none;
}

.typeahead-search-wrapper .dropdown-toggle.btn-typeahead {
  min-width: 50vw;
}

.typeahead-search-wrapper .btn {
  background-color: white;
}

.typeahead-search-wrapper .dropdown-item {
  padding: 0rem 0.75rem;
  min-width: 50vw;
}

.typeahead-search-wrapper .table {
  margin-bottom: 0rem;
}

.typeahead-search-wrapper .table td,
.table th {
  padding: 0.35rem;
  vertical-align: middle;
  border-top: none;
}

.typeahead-search-wrapper .dropdown-menu {
  border: none;
}

.svg-icon {
  position: relative;
  display: inline;
  padding-right: 10px;
}

.housing-container .card-img-top {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0 100%);
}

.card-background-image-wrapper {
  position: relative;
}

.card-img-top {
  display: block;
}

.card-col-object-overlay-right {
  position: absolute;
  background-color: #d97386;
  bottom: 0%;
  right: 5%;
  padding: 8px 10px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card-col-object-overlay-center {
  position: absolute;
  background-color: #d97386;
  bottom: 0%;
  right: 20%;
  padding: 8px 10px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*



.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}

                <Card.Img fluid src={imageone.url} />
                <Card.ImgOverlay>
                  <h4 className="hotel-type">
                    <span>{type}</span>
                  </h4>
                </Card.ImgOverlay>

*/
.admin-page-wrapper {
  margin-top: 5rem;
}

.admin-page-wrapper .card-deck {
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .admin-page-wrapper {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

.modal-dialog .modal-body {
  padding: 0rem;
}

.modal-dialog .card-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  padding-left: 1rem;
}

.modal-dialog .card-header:hover {
  background-color: rgba(224, 224, 224, 0.082);
}

.modal-dialog .card-body {
  padding: 0rem;
}

.modal-dialog .inner-accordion-card-body.card-body .card {
  border: 1px solid rgba(59, 59, 59, 0);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.card-header-remove-background-color.card-header {
  background-color: rgba(0, 0, 0, 0) !important;
}

.contact-container {
  padding-top: 7rem;
}

.hero-wrapper-contact {
  background-image: url("../../media/pexels-stein-egil-liland-6463525.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.modal-dialog {
  margin-top: 8rem !important;
}

.hero-wrapper-contact hr {
  border-top: 2px solid #d97386;
  margin-bottom: 2rem;
  max-width: 5%;
}

.list-group-item {
  padding: 0.1rem 0.25rem;
}

.housing-container {
  margin-top: 5rem;
}

.housing-container .card-body {
  padding-bottom: 0px;
  padding-top: 0px;
}

.housing-container .card {
  border: 1px solid #e8e9eb;
}

.housing-container .card-body .card-text {
  margin-bottom: 2rem !important;
}

.card-wrapper .col {
  padding: 0px;
}

.card-footer-wrapper {
  padding-bottom: 1rem;
}

.card-footer-wrapper .row {
  padding: 0px;
}

.card-footer-wrapper .col {
  padding: 0px 15px;
}

.card-footer-wrapper .btn {
  margin-bottom: 0px;
}

.card-col-object {
  margin-top: 15px;
}

.housing-container .list-group-item {
  display: block;
  padding-right: 20px;
}

@media only screen and (max-width: 1000px) {
  .housing-container {
    margin-top: 2rem;
  }
}

.card-background {
  padding-left: 0px;
  background: #ebf5fc;
}

.housing-enquiries {
  margin-bottom: 7rem;
  margin-top: 3rem;
  padding: 0px 15px;
}

.housing-col {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-right: 0px;
  padding-left: 0px;
}

.housing-col hr {
  max-width: 97%;
}

.datepicker-container .form-label {
  display: block;
}

.datepicker-wrapper {
  padding-top: 20px;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 750px;
  display: block;
  display: inline-block;
}

.DateRangePicker {
  position: relative;
  z-index: 999;
}

.housing-container .col-md-2 {
  margin-top: 15px !important;
}

.housing-details-container {
  margin-top: 5rem;
}

.accordion-container .card-header {
  padding: 0px;
}

.form-checkbox {
  margin-top: 1rem !important;
}

.carousel-column {
  padding: 0px;
}

.about-us-column {
  padding-left: 4rem;
}

@media only screen and (max-width: 1000px) {
  .about-us-column {
    padding-left: 1.5rem;
  }
  .housing-details-container {
    margin-top: 2rem;
  }
  .card-background {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .card-background {
    padding-left: 15px;
  }
}

.typeahead-search-wrapper .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  max-width: 350px;
  padding: 0rem 0rem;
  padding-top: 10rem;
}

.login-background {
  padding: 2rem 1rem;
  background: white;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2px;
}

.login-container img {
  margin-bottom: 2rem;
  max-width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero-wrapper-login {
  background-image: url("../../media/pexels-evie-shaffer-2748757.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */