body {
  font-family: "Poppins", sans-serif;
}

.contact-container {
  text-align: center;
}

h1 {
  color: #4b4b4b;
}

.contact-container h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem !important;
  padding-bottom: 1rem;
}

.contact-container h1 span {
  color: violet;
  font-size: 70px;
}

.contact-container p {
  color: #ffffff;
  margin-bottom: 2rem;
}

.nav-link {
  text-transform: uppercase;
  color: #a0a0a0 !important;
}

.nav-link.active {
  color: #e4e4e4 !important;
}

.nav-link:hover {
  color: #e4e4e4 !important;
}

.footer .list-group-item {
  text-transform: uppercase;
  color: white;
  font-size: 0.85rem;
}

.footer a {
  -webkit-text-decoration: underline 3px rgba(255, 255, 255, 0);
          text-decoration: underline 3px rgba(255, 255, 255, 0);
  -webkit-transition: -webkit-text-decoration-color 300ms;
  transition: -webkit-text-decoration-color 300ms;
  transition: text-decoration-color 300ms;
  transition: text-decoration-color 300ms, -webkit-text-decoration-color 300ms;
}

.footer a:hover {
  color: #ffffff;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
}

.hotel-type {
  color: orangered;
  font-weight: bold;
}

.form-error {
  color: red;
  font-size: 14px;
}

.footer-copyright p {
  color: #a3a3a3;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer {
  background-color: #1f1f1f;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer-card {
  background-color: transparent;
  border: transparent;
}

.list-group-item {
  background-color: transparent;
  border: transparent;
}

hr.footer-hr {
  width: 100%;
  float: center;
  border: 0;
  height: 10px;
  border: 0;
  -webkit-box-shadow: 0 11px 15px -16px #8d8d8d inset;
          box-shadow: 0 11px 15px -16px #8d8d8d inset;
  margin-top: 0px;
}

.footer-copyright {
  background-color: #181818;
  padding: 5px 0px;
  margin-top: 30px;
}

.footer-copyright p {
  margin: 0 auto !important;
}

.navbar {
  background-color: #1f1f1f !important;
}

.navbar-brand {
  padding-right: 5% !important;
}

.btn-primary-color {
  color: white;
  background: #00beaf;
  border: transparent;
}

.btn-primary-color:hover {
  color: white;
  background: #009e91;
}

.btn-primary-color:active {
  color: white;
  background: #009e91;
  border-color: transparent;
}

.btn-primary-color.focus, .btn-primary:focus {
  color: white;
  background: #009e91;
  border-color: transparent;
}

.btn.focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-btn-submit {
  color: white;
  background: #00beaf;
  border: transparent;
}

.btn-btn-submit:hover {
  color: white;
  background: #009e91;
}

.btn-btn-submit svg {
  margin-left: 10px;
}

.btn-btn-submit:hover svg {
  margin-left: 20px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.svg-icon {
  position: relative;
  display: inline;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .svg-icon {
    display: block;
  }
}

.contact-container {
  padding-top: 7rem;
}

.hero-wrapper-contact {
  background-image: url("../../media/pexels-stein-egil-liland-6463525.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.modal-dialog {
  margin-top: 8rem !important;
}

.hero-wrapper-contact hr {
  border-top: 2px solid white;
  margin-bottom: 2rem;
  max-width: 5%;
}

.list-group-item {
  padding: 0.1rem 0.25rem;
}

.housing-container .card-body {
  padding: 0rem;
}

.housing-col {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.login-container {
  max-width: 350px;
  padding: 0rem 0rem;
  padding-top: 10rem;
}

.login-background {
  padding: 2rem 1rem;
  background: white;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2px;
}

.login-container img {
  margin-bottom: 2rem;
  max-width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero-wrapper-login {
  background-image: url("../../media/pexels-evie-shaffer-2748757.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
/*# sourceMappingURL=style.css.map */