@media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 2 !important;
      -moz-column-count: 2 !important;
      column-count: 2 !important;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
    }
  }
  