.footer {
  background-color: rgb(31, 31, 31);
  flex-shrink: 0;
  padding-top: 2rem;
}

.footer-card {
  background-color: transparent;
  border: transparent;
}
.list-group-item {
  background-color: transparent;
  border: transparent;
}

.footer-copyright {
  background-color: rgb(24, 24, 24);
  padding: 5px 0px;
  margin-top: 30px;
}
.footer-copyright p {
  margin: 0 auto !important;
}
@media only screen and (max-width: 575px) {
  .footer-copyright {
    padding-bottom: 4rem;
  }
}
