.btn-primary-color {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 0.55rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($primary, 10%);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.btn-secondary-color {
  color: white;
  background: $primary;
  border: transparent;
}
.btn-secondary-color:hover {
  color: white;
  background-color: darken($primary, 10%);
}
.btn-secondary-color:active {
  color: white;
  background-color: darken($primary, 10%);
}

.btn-secondary-color.focus,
.btn-secondary:focus {
  color: white;
  background: $primary;
}

.accordion-card-border-none {
  border: none !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.housing-container a {
  text-decoration: none !important;
}

.housing-container .card-body .btn {
  margin-top: 2rem;
}

.btn-btn-submit {
  color: white;
  background: $primary;
  border: transparent;
  border-radius: 10rem;
  letter-spacing: 0.1rem;
  padding: 7px 15px;
}
.btn-btn-submit:hover {
  color: white;
  background-color: darken($primary, 10%);
  transition: all 0.3s;
  border-radius: 10rem;
}

.btn-btn-submit svg {
  margin-left: 10px;
}
.btn-btn-submit:hover svg {
  margin-left: 20px;
  transition: all 0.1s ease-in;
}

.accordion-container .btn {
  margin-bottom: 0px;
}

//Search bar

.typeahead-search-wrapper .dropdown-toggle::after {
  content: none;
}

.typeahead-search-wrapper .dropdown-toggle.btn-typeahead {
  min-width: 480px;
}

.typeahead-search-wrapper .dropdown-item {
  min-width: 480px;
  padding-bottom: 5px;
}

.typeahead-search-wrapper .btn {
  background-color: rgba(255, 255, 255, 0);
}

.typeahead-search-wrapper .dropdown-item p {
  padding-left: 10px;
  text-transform: capitalize;
  margin-bottom: 0px;
  color: #424242;
}

.typeahead-search-wrapper .dropdown-menu .show {
  border: none;
}

.typeahead-search-wrapper .dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 575px) {
  .btn.sm-block {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }

  .typeahead-search-wrapper .dropdown-toggle.btn-typeahead {
    min-width: 280px;
  }

  .typeahead-search-wrapper .dropdown-item {
    min-width: 280px;
  }
}

@media only screen and (max-width: 1000px) {
  .housing-container .card-body .btn {
    margin-top: 2rem;
  }
}
