//Home page
.background-wrapper-home {
  background-image: url("../../media/pexels-nextvoyage-12.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.background-wrapper-features {
  background-image: url("../../media/pexels-karolina-grabowska-41948491.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 10px;
  text-align: center;
}

//Contact page
.hero-wrapper-contact {
  background-image: url("../../media/pexels-stein-egil-liland-6463525.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.svg-icon {
  position: relative;
  display: inline;
  padding-right: 10px;
}

.housing-container .card-img-top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0 100%);
}

.card-background-image-wrapper {
  position: relative;
}

.card-img-top {
  display: block;
}

.card-col-object-overlay-right {
  position: absolute;
  background-color: $primary;
  bottom: 0%;
  right: 5%;
  padding: 8px 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-col-object-overlay-center {
  position: absolute;
  background-color: $primary;
  bottom: 0%;
  right: 19%;
  padding: 8px 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

//Login page
.login-container img {
  margin-bottom: 2rem;
  max-width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero-wrapper-login {
  background-image: url("../../media/pexels-evie-shaffer-2748757.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.housing-header-background {
  background-color: $primary;
  height: 17vh;
  background-image: linear-gradient(
      rgba(99, 99, 99, 0.418),
      rgba(87, 87, 87, 0.63)
    ),
    url("../../media/teal-370129_640-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 412px) {
  .card-col-object-overlay-right {
    padding: 5px 7px;
  }
  .card-col-object-overlay-center {
    padding: 5px 7px;
  }
  //Home page
  .background-wrapper-home {
    background-attachment: scroll;
  }

  //Contact page
  .hero-wrapper-contact {
    height: 140vh;
  }
  .hero-wrapper-login {
    height: 850px;
  }

  .housing-header-background {
    height: 20vh;
  }
}
@media only screen and (max-width: 320px) {
  .housing-header-background {
    height: 27vh;
  }
}
