.svg-icon {
  position: relative;
  display: inline;
  padding-right: 10px;
}

.housing-container .card-img-top {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

/*



.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img, .card-img-bottom, .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
}

                <Card.Img fluid src={imageone.url} />
                <Card.ImgOverlay>
                  <h4 className="hotel-type">
                    <span>{type}</span>
                  </h4>
                </Card.ImgOverlay>

*/
